<% if session[:errors] %>
    <p class="alert alert-info">Ooops! Please correct the following:
    <ul  class="alert alert-warning">
      <% session[:errors].each do |msg| %>
           <li><%= msg %></li>
      <% end %>
    </ul>
    </p>
    <% session[:errors] = nil %>
<% end %>