<div class="row">
  <div class="col-lg-12">
    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="vote-item">
        <h3>Welcome to Rails App</h3>
      </div>
    </div>
  </div>
</div>